@define-color foreground #E2E6F1;
@define-color background transparent;
@define-color accent #1BC5C9;
@define-color accent-muted #3bb8c8;
@define-color warning #E3B77D;
@define-color error #F25636;
@define-color border #FF6A1F;
