    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/discord.theme.css");

    :root {
        --color00: #000000;
        --color01: #000000;
        --color02: #000000;
        --color03: #80e31c;
        --color04: #929292;
        --color05: #929292;
        --color06: #929292;
        --color07: #929292;
        --color08: #929292;
        --color09: #8dee0b;
        --color10: #98d450;
        --color11: #da630d;
        --color12: #b1e95f;
        --color13: #c0df44;
        --color14: #a6eb5d;
        --color15: #8dee0b;
    }
