@define-color background #000000;
@define-color foreground #B6F500;
@define-color color0 #000000;
@define-color color1 #f6000e;
@define-color color2 #da630d;
@define-color color3 #8dee0b;
@define-color color4 #c0df44;
@define-color color5 #a6eb5d;
@define-color color6 #b1e95f;
@define-color color7 #80e31c;
@define-color color8 #9bd46a;
@define-color color9 #ff777d;
@define-color color10 #6bb5ea;
@define-color color11 #98d450;
@define-color color12 #c2dd47;
@define-color color13 #b1e563;
@define-color color14 #ffffff;
@define-color color15 #929292;

