[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT
Exec=run-command launch-webapp https://chatgpt.com/
Terminal=false
Type=Application
Icon=/home/darkvoid/.local/share/applications/icons/ChatGPT.png
StartupNotify=true
