@define-color bg #0a0f1c;
@define-color fg #d4d5d9;
@define-color gray1 #A8B9C6;
@define-color gray2 #5f6374;
@define-color gray3 #9BB0C2;
@define-color gray4 #95A8B8;
@define-color gray5 #95A8B8;
@define-color fg_bright #d4d5d9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}